{% extends "backend/layout.html" %}
{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
    .room-title {
        display: flex;
        justify-content: center;
        font-size: 50px;
        color: #000000;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .card-title {
        color: #000000;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .list-group-item {
        background-color: transparent;
        border: none;
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
    }

    .list-group-item:nth-child(odd) {
        background-color: #f8f9fa;
    }

    .list-group-item i {
        margin-right: 10px;
        color: #17a2b8;
    }

    .filter-card {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .filter-card .card {
        width: 100%;
        max-width: 300px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: none;
    }

    .filter-card .card-body {
        padding: 1rem 1.5rem;
    }

    .filter-card .card-body .form-group {
        margin-bottom: 1rem;
    }

    .filter-card .card-body .btn {
        width: 100%;
    }

    .section-divider {
        border: 1px solid #dee2e6;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    .section-divider .section-title {
        margin-bottom: 15px;
        font-size: 1.25rem;
        font-weight: 700;
        color: #495057;
    }

    .date-picker-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .form-inline .form-group {
        display: flex;
        align-items: center;
    }

    .form-inline .form-group label {
        margin-right: 10px;
    }
</style>
{% endblock %}
{% block body %}
    <h1 class="text-center mb-4 room-title">{{ category.name }}</h1>

    <div class="container mt-5">
        <span class="d-flex justify-content-center" style="font-weight: 700">Buscar Acomodações por Disponibilidade</span><br/>
        <div class="date-picker-container" style="font-weight: 700">
            <form method="get" class="form-inline">
                <div class="form-group">
                    <label for="check_in">Check-in</label>
                    <input type="date" id="check_in" name="check_in" class="form-control ml-2" value="{{ request.GET.check_in }}" required>
                </div>
                <div class="form-group ml-3">
                    <label for="check_out">Check-out</label>
                    <input type="date" id="check_out" name="check_out" class="form-control ml-2" value="{{ request.GET.check_out }}" required>
                </div>
                <button type="submit" class="btn btn-info ml-3">Buscar</button>
            </form>
        </div>

        <div class="section-divider">
            <div class="row">
                {% if rooms %}
                    {% for room in rooms %}
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow-sm">
                                <img src="{{ room.image.url }}" class="card-img-top" alt="{{ room.title }}">
                                <div class="card-body d-flex flex-column">
                                    <h5 class="card-title card-title">{{ room.title }}</h5>
                                    <p class="card-text">{{ room.description }}</p>
                                    <div class="d-flex justify-content-right">
                                        <ul class="list-group list-group-flush mb-3">
                                            <li class="list-group-item"><i class="fas fa-users"></i>Capacidade: {{ room.capacity }}</li>
                                            <li class="list-group-item"><i class="fas fa-tv"></i>TV: {{ room.tv|yesno:"Sim,Não" }}</li>
                                            <li class="list-group-item"><i class="fas fa-wifi"></i>Wi-Fi: {{ room.wifi|yesno:"Sim,Não" }}</li>
                                            <li class="list-group-item"><i class="fas fa-snowflake"></i>AC: {{ room.ac|yesno:"Sim,Não" }}</li>
                                            <li class="list-group-item"><i class="fas fa-bath"></i>Banheira: {{ room.bathtub|yesno:"Sim,Não" }}</li>
                                            <li class="list-group-item"><i class="fas fa-dollar-sign"></i>Diária: R$ {{ room.price }}</li>
                                        </ul>
                                    </div>
                                    <div class="d-flex justify-content-right">
                                        <a href="{% url 'check_availability' room.id %}" class="btn btn-info mt-auto">Verificar Disponibilidade</a>
                                    </div>
                                    {% if request.user.is_staff %}
                                        <form method="post" action="{% url 'category_rooms' category.id %}" class="mt-3">
                                            {% csrf_token %}
                                            <input type="hidden" name="room_id" value="{{ room.id }}">
                                            <div class="form-group">
                                                <label for="category">Mudar Categoria:</label>
                                                <br/>
                                                <select name="category" class="form-control">
                                                    {% for category in form.fields.category.queryset %}
                                                        <option value="{{ category.id }}" {% if room.category == category %}selected{% endif %}>
                                                            {{ category.name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <br/>
                                            <div class="form-group mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="available" id="available{{ room.id }}" {% if room.available %}checked{% endif %}>
                                                    <label class="form-check-label" for="available{{ room.id }}">
                                                        Disponível
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success mt-2">Atualizar</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">No rooms available in this category.</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if request.user.is_staff %}
        <div class="d-flex justify-content-center mb-4">
            <a href="{% url 'add_room_view' %}" class="btn btn-success">Nova Acomodação</a>
        </div>
        <br/>
    {% endif %}
{% endblock %}
