{% extends "backend/layout.html" %}
{% block body %}
<style>
    .edit-room {
        display: flex;
        justify-content: center;
        font-size: 36px;
        color: #000000;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .card-container {
        width: 60%; 
        margin: auto; 
    }
    .card {
        border: 1px solid #e3e6f0;
        border-radius: 10px;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58,59,69,0.15);
    }
    .card-body {
        padding: 20px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-control, .form-check-input, .btn-dark {
        border-radius: 5px;
    }
    .form-check-label {
        margin-left: 5px;
    }
    .btn-dark {
        background-color: #343a40;
        border: none;
        padding: 10px 20px;
    }
    .btn-dark:hover {
        background-color: #23272b;
    }
    .check1 {
        margin-right: 540px;
        margin-bottom: 30px;
    }
</style>
<div class="container d-flex justify-content-center mt-5">
    <div class="card-container">
        <h1 class="edit-room">Editar Acomodação</h1>
        <div class="card shadow-lg">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'edit_room_details' room.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.title.label_tag }}<br>
                        {{ form.title }}
                        {% for error in form.title.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.description.label_tag }}<br>
                        {{ form.description }}
                        {% for error in form.description.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.image.label_tag }}<br>
                        {{ form.image }}
                        {% for error in form.image.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="additional_images">Imagens Adicionais:</label><br>
                        <input type="file" name="image_1" class="form-control mb-2">
                        <input type="file" name="image_2" class="form-control mb-2">
                        <input type="file" name="image_3" class="form-control mb-2">
                        <input type="file" name="image_4" class="form-control mb-2">
                        <small class="form-text text-muted">Você pode carregar até 4 imagens adicionais.</small>
                    </div>
                    <div class="form-group mr-2">
                        {{ form.capacity.label_tag }}<br>
                        {{ form.capacity }}
                        {% for error in form.capacity.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <i class="fas fa-tv mr-2"></i>
                        <span class="flex-grow-1">{{ form.tv.label_tag }}</span>
                        <span class="check1">{{ form.tv }}</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <i class="fas fa-wifi mr-2"></i>
                        <span class="flex-grow-1">{{ form.wifi.label_tag }}</span>
                        <span class="check1">{{ form.wifi }}</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <i class="fas fa-snowflake mr-2"></i>
                        <span class="flex-grow-1">{{ form.ac.label_tag }}</span>
                        <span class="check1">{{ form.ac }}</span>
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <i class="fas fa-bath mr-2"></i>
                        <span class="flex-grow-1">{{ form.bathtub.label_tag }}</span>
                        <span class="check1">{{ form.bathtub }}</span>
                    </div>
                    <div class="form-group">
                        {{ form.price.label_tag }}<br>
                        {{ form.price }}
                        {% for error in form.price.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.category.label_tag }}<br>
                        {{ form.category }}
                        {% for error in form.category.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <br/>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-dark">Salvar Alterações</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
